/*Establecer fondo de la pagina*/
body {
	background-color: bisque;
	margin: 0px;
}
/*Entradas para los nombres de cada jugador*/
.Input{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	margin-left: 300px;
	margin-right: 300px;
	gap: 30px;
}
.Input input{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Codigo para centrar el texto y establecer sus propiedades*/
body h1 {
	margin: 0;
	display: flex;
	flex-direction: column;
}
.Titulo {
	width: 30%;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #333;
	padding: 20px;
	position: relative;
	margin-top: 10px;
	font-family: monospace;
	background-color: white;
}
.Titulo h1 {
	margin: 0;
	font-size: 3rem;
}
.Titulo h2{
	font-size: 1rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Boton para reiniciar la pagina, establecemos color, tamaño, borde y posicion*/
.Reiniciar{
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}
.Reiniciar button{
	background-color: rgb(135, 255, 145);
	border: 2px solid rgb(0, 255, 55);
	width: 200px;
	height: 30px;
	cursor: pointer;
	border-radius: 15px;
}
.Reiniciar button:hover{
	background-color: rgb(7, 197, 0);
}
/*Botones para lanzar los dados*/
.Botones{
	display: flex;
	justify-content: space-between;
	margin-left: 300px;
	margin-right: 300px;
	gap: 30px;
}
.BttonJ1{
	background-color: rgb(135, 137, 255);
	border: 2px solid blue;
	width: 200px;
	height: 30px;
	cursor: pointer;
	border-radius: 15px;
}
.BttonJ1:hover{
	background-color: rgb(0, 0, 155);
}	
.BttonJ2{
	background-color: rgb(255, 135, 135);
	border: 2px solid rgb(255, 0, 0);
	width: 200px;
	height: 30px;
	cursor: pointer;
	border-radius: 15px;
}
.BttonJ2:hover{
	background-color: rgb(155, 0, 0);
}
/*Margen superior e inferior para los contenedores de los dados*/
main{
	margin-top: 20px;
	margin-bottom: 20px;
}
/*Establecer posicion, color, fondo y tamaño del pie de pagina*/
footer {
	display: flex;
	justify-content: center;
	background-color: #000;
	color: #fff;
	text-align: center;
	align-items: center;
	width:100%;
}
/*Establecer el estilo del texto de rondas y turnos*/
.Rondas #RonTur{
	display: flex;
	justify-content: center;
	color: rgb(0, 0, 0);
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2rem;
	border: 2px dashed black;
	width: 300px;
	height: 100px;
	position: relative;
	background-color: rgb(181, 245, 255);
	flex-direction: column;
	
	margin: 20px auto;
}
.Rondas #MP{
	display: flex;
	justify-content: center;
	color: rgb(0, 0, 0);
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*=======================================================================================*/
/*======================================DISEÑO DADO======================================*/

.ContenedorDados {
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
	gap: 20px;
	width: 90%;
	max-width: 1200px;
	flex-wrap: wrap;
}

.contenedor {
	background-color: aliceblue;
	width: 200px;
    height: 200px;
    position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
    perspective: 600px;
	padding: 30px;
}

.dado{
	transform: translateZ(-100px);
    width: 50%;
    height: 50%;
    transform-style: preserve-3d;
}

.dado2{
	transform: translateZ(-100px);
	width: 50%;
	height: 50%;
	transform-style: preserve-3d;
}

.cara_dado {
	position: absolute; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background: blue;
    border: black 1px solid;
    border-radius: 5%;
}

.dado2 .cara_dado {
	background:red;
}

.cara_dado_frente {
	transform: rotateY(0deg) translateZ(50px);
}

.cara_dado_derecha {
	transform: rotateY(90deg) translateZ(50px);
}

.cara_dado_atras {
	transform: rotateY(180deg) translateZ(50px);
}

.cara_dado_izquierda {
	transform: rotateY(-90deg) translateZ(50px);
}

.cara_dado_arriba {
	transform: rotateX(90deg) translateZ(50px);
}

.cara_dado_abajo {
	transform: rotateX(-90deg) translateZ(50px);
}

.contenido {
	display: grid;
	grid-template-columns: repeat(3, 20px);
	grid-template-rows: repeat(3, 20px);
}

.punto {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
}


.cara_dado_frente .contenido .punto {
	grid-row: 2;
	grid-column: 2;
}

.cara_dado_atras .contenido .punto:nth-child(1) {
	grid-row: 1;
	grid-column: 1;
}

.cara_dado_atras .contenido .punto:nth-child(2) {
	grid-row: 1;
	grid-column: 2;
}

.cara_dado_atras .contenido .punto:nth-child(3) {
	grid-row: 1;
	grid-column: 3;
}

.cara_dado_atras .contenido .punto:nth-child(4) {
	grid-row: 3;
	grid-column: 1;
}

.cara_dado_atras .contenido .punto:nth-child(5) {
	grid-row: 3;
	grid-column: 2;
}

.cara_dado_atras .contenido .punto:nth-child(6) {
	grid-row: 3;
	grid-column: 3;
}

.cara_dado_izquierda .contenido .punto:nth-child(1) {
	grid-row: 1;
	grid-column: 3;
}

.cara_dado_izquierda .contenido .punto:nth-child(2) {
	grid-row: 2;
	grid-column: 2;
}

.cara_dado_izquierda .contenido .punto:nth-child(3) {
	grid-row: 3;
	grid-column: 1;
}

.cara_dado_derecha .contenido .punto:nth-child(1) {
	grid-row: 1;
	grid-column: 1;
}

.cara_dado_derecha .contenido .punto:nth-child(2) {
	grid-row: 1;
	grid-column: 3;
}

.cara_dado_derecha .contenido .punto:nth-child(3) {
	grid-row: 3;
	grid-column: 1;
}

.cara_dado_derecha .contenido .punto:nth-child(4) {
	grid-row: 3;
	grid-column: 3;
}

.cara_dado_arriba .contenido .punto:nth-child(1) {
	grid-row: 1;
	grid-column: 1;
}

.cara_dado_arriba .contenido .punto:nth-child(2) {
	grid-row: 1;
	grid-column: 3;
}

.cara_dado_arriba .contenido .punto:nth-child(3) {
	grid-row: 2;
	grid-column: 2;
}

.cara_dado_arriba .contenido .punto:nth-child(4) {
	grid-row: 3;
	grid-column: 1;
}

.cara_dado_arriba .contenido .punto:nth-child(5) {
	grid-row: 3;
	grid-column: 3;
}

.cara_dado_abajo .contenido .punto:nth-child(1) {
	grid-row: 1;
	grid-column: 3;
}

.cara_dado_abajo .contenido .punto:nth-child(2) {
	grid-row: 3;
	grid-column: 1;
}

/*=======================================================================================*/
/*=======================================================================================*/